/* Обнуляющий стиль */
@import "null.css";
/* Подключаем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@font-face {
	font-family: "Taviraj";
	src: url("../fonts/Taviraj-Regular.woff2") format("woff2"), url("../fonts/Taviraj-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/* Оболочка */
.wrapper {
	min-height: 100%;
   overflow: hidden;
	font-family: "Lato", sans-serif;
	margin: 0 auto;
   max-width: 390px;
}
header {
	color: #1E212C;
}
.subtitle {
	font-weight: bold;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
	margin: 0px 0px 8px 0px;
}
.title {
	font-weight: 900;
   font-size: 46px;
   line-height: 130%;
	margin: 0px 0px 40px 0px;
}
.list {
	margin: 0px 0px 22px 0px;
	max-width: 390px;
	padding: 0px 0px 0px 32px;
	line-height: 160%;
   color: #424551
}

ul li::before { 
	content: "";
	display: inline-block;
	background: url("../img/check.svg") no-repeat;
	margin: 0px 16px 0px -32px;
	width: 16px;
	min-height: 16px; 
}
.list li {
	margin: 0px 0px 12px 0px;
}
ul li:last-child {
	margin-bottom: 0px;
}
.link {
	margin: 0px 0px 20px 0px;
	
}

.btn{
	display: inline-block;
	padding: 0px 32px;
   width: 161px;
   height: 44px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
	font-weight: bold;
   font-size: 14px;
   line-height: 3.14;
	text-align: center;
   letter-spacing: 0.5px;
   color: #FFFFFF;
}
.btn:hover {
	color: #1E212C;
	background: #d35c8c;
	box-shadow:0 3px 0 0 black;
}
.btn:active {
	background: #424551;
	box-shadow:inset 0 0 5px 0 black;
	color:aliceblue;
}

.series {
	font-family: "Taviraj", sans-serif;
	font-size: 36px;
   line-height: 1.1;
   letter-spacing: 0.02em;
	max-width: 220px;
   color: #333333;
}
.series::after {
	content: "";
	display: block;
	margin: 8px 0px 0px 0px;
	width: 29.68%;
	border: 1px solid #333333;
}